*.bak
*~
*.o
compile
depcomp
missing
install-sh
configure
autom4te.cache
Makefile
config.log
config.status
src/.deps/
src/Makefile
src/config.h
src/hithere
src/stamp-h1 
*.xz 
Makefile.in
autom4te.cache/
src/Makefile.in
src/config.h.in
aclocal.m4
out/
.version
doc/mes.scm 
