*~
aclocal.m4
autom4te.cache
autom4te.cache/
*.bak
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/hithere.info
doc/mes.scm 
guix.scm
hithere-*/
install-sh
Makefile
Makefile.in
missing
NEWS
*.o
out/
sha256sum
src/config.h
src/config.h.in
src/.deps/
src/hithere
src/Makefile
src/Makefile.in
src/stamp-h1 
TAGS
*.tar.gz
.version
*.xz 
@/
VERSION
